<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/square" method="POST">
        Enter a Number post method : <input type="text" name="num">
        <input type="submit" value="calculate">
    </form>
    
    <form action="/squarewithget" method="GET">
        Enter a Number get method : <input type="text" name="num2" id="num2">
        <input type="submit" name="btnnum" id="btnnum">
    </form>

    

</body>
</html>