<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type = "text/javascript"
        src = "{{ url_for('static', filename = 'index.js') }}" ></script>
</head>
<body>
    <input type="button" onclick="hello()" value="Hello">
    
    <form action='/setcookie' method="POST"> 
        <h3>Enter User ID</h3>
        <p><input type='text' name='nm'></p>
        <p><input type='submit' value='login'></p>
    </form>
</body>
</html>